# Reclassify repo as Python
* text=python
*.html text linguist-language=Python
*.php  text linguist-language=Python
*.css  text linguist-language=Python
*.js   text linguist-language=Python
*.txt  text linguist-language=Python
